<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/scripts.ejs') %>
  <%- include('./partials/styles.ejs') %>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog</title>
</head>
<body>
  <div class="container">
    <h1 class="mb-4">New Article</h1>
    <form action="/articles" method="post">
      <%- include('_form_fields.ejs') %>
    </form>
  </div>  
</body>
</html>